.container {
    display: flex;
    flex-direction: column;
}

.survey-container {
    margin: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

.header {
    margin: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}